:root {
    --font-primary: "Monocraft";
    --font-display: "Monocraft";
}

@font-face {
    font-family: "Monocraft";
    src: url("https://raw.githubusercontent.com/Cloudninjakip/Cursed_IDK/main/Monocraft_no_ligatures.ttc");
}
