:root {
    --font-primary: "Monocraft";
    --font-display: "Monocraft";
}




@font-face {
  font-family: "Monocraft";
  src: url("https://github.com/Cloudninjakip/Cursed_IDK/blob/main/Monocraft_no_ligatures.ttc") format("ttc");
}
